<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-900">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gray-900 w-full">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="/OIP.jpg?color=indigo&shade=500" alt="Your Company" class="mx-auto h-10 w-auto" />
    <h1 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Ticket Booking System</h1>
  
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form action="/api/auth/register" method="POST" class="space-y-6">
        <!-- name, email, password, phone , role -->
      <div>
        <label for="name" class="block text-sm/6 font-medium text-gray-100">Name</label>
        <div class="mt-2">
          <input id="name" type="text" name="userName" required autocomplete="name" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-100">Email address</label>
        <div class="mt-2">
          <input id="email" type="email" name="email" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        <div>
        <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
        <div class="mt-2">
          <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>

        <div>
        <label for="phone" class="block text-sm/6 font-medium text-gray-100">Phone</label>
        <div class="mt-2">
          <input id="phone" type="tel" name="phone" required autocomplete="tel" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>

        <div>
        <label for="role" class="block text-sm/6 font-medium text-gray-100">Role</label>
        <div class="mt-2">
          <select id="role" name="role" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
            <option value="staff">Staff</option>
            <option value="admin">Admin</option>
          </select>

      </div>

<br>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-400">
      Not a member?
      <a href="/login" class="font-semibold text-indigo-400 hover:text-indigo-300">Go to Login</a>
    </p>
  </div>
</div>

</body>
</html>